<%- contentFor('body') %>
<div class="createBody">
    <h1>TIME TO EDIT</h1>
    <form action="/server/edit/<%= server.servercode_id %>?_method=put" method="post">
        <label for="">Change Name?</label>
        <input type="text" name="server_name" value="<%= server.name %>">
        <br>
        <label for="">Change Background Color?</label>
        <input type="text" name="background_color" value="<%= server.b_color %>">
        <br>
        <label for="">Change Text Color? </label>
        <input type="text" name="text_color" value="<%= server.text_color %>">
        <br>
        <label for="">Change server image? <span class="emoji">&#8594;</span> Width will be rescalled to 500px </label>
        <input type="text" name="server_image" value="<%= server.main_image %>">
        <br>
        <label for="">Change about section? </label>
        <input type="text" name="server_about" value="<%= server.about %>">
        <br>
        <button>Edit Server</button>
    </form>
</div>

<%- contentFor('aside') %>