<%- contentFor('body') %>
<h2>LEDDIT PROJECT HOME PAGE</h2>
<% if (locals.errorMessage) { %>
    <p class="error"><%= errorMessage %></p>
<% } %>
<p>Here are some servers to choose from <br>
    OR <br>
    Look up another server
</p>
<% for (let server of servers) { %>
    <p style="font-size: 2rem;"><a href="/server/<%= server.name %>"><%= server.name %></a></p>
<% } %>

<%- contentFor('aside') %>