<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/LEDDIT.ico" type="image/x-icon">
    <title>LEDDIT</title>
</head>
<body>
    <div class="everything">
    <header>
        <div class="left_header">
            <a href="/"><img src="/images/LEDDIT.png" alt="leddit image"></a>
            <div class="headerText">
                <a href="/"><h3 class="leddit">LEDDIT</h3>
                    <div class="user">Current User:
                        <% if (!currentUser.username) { %>
                            <%= 'Anonymuos' %> 
                        <% } else { %>
                            <%= currentUser.username %>
                        <% } %>
                    </div>
                </a>
            </div>
        </div>
        <form action="/getSearchValue" method="post">
            <input class='searchBar' type="text" placeholder="Search LEDDIT" name="search">
        </form>
        <nav class="headerBtns">
            <a class="headerlink" href="/about">ABOUT</a>
            <% if (isLoggedIn) { %>
                <form action="/logout?_method=delete" method="post">
                  <button class="logout">LOGOUT</button>
                </form> 
              <% } else { %>
                <a  class="headerlink" href="/login">LOGIN</a>
              <% } %>
        </nav>
    </header>

    <div class="container">
        <div class="left">
            <ul>
                <li class="createServerLink"><a href="/server/create"><span class="emoji">&#128640;</span> CREATE SERVER</a></li>
                <br>
                <li><a href="/favourties"><span class="emoji">👇</span> FAVOURITE SERVERS</a></li>
                <br>
                <div class="favourites_display">
                    <% if (currentUser.username) { %>
                        <% for (let fav of favs) { %>
                            <a href="/server/<%= fav.server_name %>">L/<%= fav.server_name %></a>
                        <% } %>
                    <% } %>
                </div>
            </ul>
        </div>
        <div>
            <%- body %>
        </div>
        <aside class="aside_section">
            <%- aside %>
        </aside>
    </div>
    </div>
    <footer>
        Created by Leonardo Manteit 16/05/2024
    </footer>
</body>
</html>