<%- contentFor('body') %>
<div class="body" style="height: 100vh; background-color: <%= server.b_color %>; color: <%= server.text_color %>;">
    <h1>Welcome to L/<%= server.name %></h1>
<img src="<%= server.main_image %>" alt="" style="height: 150px; width: 800px;">

<% for (let serverContent of serverContents) { %>
    <div class="contentBox" style="border: solid red; display: flex;">
        <section>
            <h4><%= serverContent.title %></h4>
            <img src="<%= serverContent.image_url %>" alt="image from server" style="max-width: 150px;">
            <p><%= serverContent.content %></p>
        </section>
        <aside>
            <form action="/server/<%= server.name %>/content/<%= serverContent.id %>?_method=DELETE" method="post">
                <button>delete</button>
            </form>
            <form action="/server/<%= server.name %>/<%= server.servercode_id %>/content/<%= Number(serverContent.id) %>/comment" method="post">
                <label for="">Comment Here</label>
                <input type="text" name="comment">
                <button>Comment</button>
            </form>
            <p>Uploaded by User: <%= serverContent.user_id %></p>
        </aside>
        <% if (comments.length) { %>
            <div class="comments" style="display: flex; flex-direction: column; flex-wrap: wrap;">
                <% for (let comment of comments) { %>
                    <% if (comment.post_id === serverContent.id) { %>
                        <p><%= comment.content %></p> 
                        <form action="/server/<%= server.name %>/comment/<%= comment.id %>?_method=DELETE" method="post">
                            <button>delete</button>
                        </form>
                    <% } %>
                <% } %>
            </div>
        <% } %>
    </div>
<% } %>

<script defer src="/toggleVisibilityScript.js"></script>

</div>

<%- contentFor('aside') %>
<p><%= server.about %></p>
<div class="plus" style="text-align: center;">
    <button class="display_create">+ CREATE A POST</button>
</div>
<div class="create" style="visibility: hidden;">
    <form action="/server/content/<%= server.name %>/<%= server.servercode_id %>" method="post">

        <label for="">TITLE</label>
        <input type="text" name="title">
        <br>
        <label for="">CONTENT</label>
        <input type="text" name="content">
        <br>
        <label for="">IMAGE</label>
        <input type="text" name="image_url">
        <br>
        <button class="hide_this">Add</button>
    </form>
</div>


<!-- <form action="/upload" method="post" enctype="multipart/form-data"> 
    <input type="file" name="upload_file">
    <button>submit</button>
</form> -->