<%- contentFor('body') %>
<div class="serverBody" style="background-color: <%= server.b_color %>; color: <%= server.text_color %>;">
    <h1>Welcome to L/<%= server.name %></h1>
    <img src="<%= server.main_image %>" alt="" style=" width: 500px;">

    <% for (let serverContent of serverContents) { %>
        <div class="postBox">
            <section>
                <h4><%= serverContent.title %></h4>
                <img src="<%= serverContent.image_url %>" alt="image from server" style="max-width: 200px;">
                <p><%= serverContent.content %></p>
                <p>Uploaded by User: <%= serverContent.user_name %></p>
                <div class="vote">
                    <span>
                        <% let finalVote = 0 %>
                        <% for (let vote of votes) { %>
                            <% if (vote.contents_id === serverContent.content_id) { %> 
                                <% finalVote+=vote.vote %>                            
                            <% } %> 
                        <% } %>
                        <%= finalVote %>
                    </span>
                    <form action="/post/upvote/<%= serverContent.content_id%>/<%= server.name %>?_method=put" method="post">
                        <button class="upVote"><span class="emoji">&#8593</span></button>
                    </form>
                    <form action="/post/downvote/<%= serverContent.content_id%>/<%= server.name %>?_method=put" method="post">
                        <button class="downVote"><span class="emoji">&#8595;</span></button>
                    </form>
                </div>
                <aside>
                    <% if (currentUser.id === server.users_id) { %>
                        <form action="/server/<%= server.name %>/content/<%= serverContent.content_id %>?_method=DELETE" method="post">
                            <button>Delete Post</button>
                        </form>
                    <% } %>
                </aside>
            </section>
            <div class="comments">
                <form action="/server/<%= server.name %>/<%= server.servercode_id %>/content/<%= Number(serverContent.content_id) %>/comment" method="post">
                    <input class="commentTextBox" type="text" name="comment" placeholder="Comment Here">
                </form>
                <% if (comments.length) { %>
                    <% for (let comment of comments) { %>
                        <% if (comment.post_id === serverContent.content_id) { %>
                            <div class="commentDiv">
                                <p class="commentText"><%= comment.content %></p> 
                                <form action="/server/<%= server.name %>/comment/<%= comment.id %>?_method=DELETE" method="post">
                                    <% if (comment.user_id === currentUser.id) { %>
                                        <button>Delete Comment</button>
                                    <% } %>
                                </form>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
    <% } %>
</div>

<%- contentFor('aside') %>
<p style="font-weight: 600;"><%= server.about %></p>
<form action="/server/add_to_favourites/<%= server.name %>/<%= server.servercode_id %>" method="post">
    <label for="">Add this server to your favourites</label>
    <button class="addFav" >Add</button>
</form>
<div class="plus">
    <button class="display_create">+ CREATE A POST</button>
</div>
<div class="create">
    <form action="/server/content/<%= server.name %>/<%= server.servercode_id %>" method="post">

        <label for="">TITLE</label>
        <input type="text" name="title">
        <br>
        <label for="">CONTENT</label>
        <input type="text" name="content">
        <br>
        <label for="">IMAGE</label>
        <input type="text" name="image_url">
        <br>
        <button class="hide_this">Add</button>
    </form>
    <button class="stop_create">Stop</button>
</div>
<div class="update_server">
    <% if (currentUser.username) { %>
        <% if (currentUser.id === server.users_id) { %>
            <form action="/server/<%= server.servercode_id%>/edit" method="get">
                <button>Update your Server</button>
            </form>
            <form action="/server/delete/<%= server.servercode_id%>/<%= server.name %>" method="get">
                <button>Delete your Server</button>
            </form>
        <% } %>
    <% } %>
</div>


<script defer src="/personal_server_script.js"></script>

<!-- <form action="/upload" method="post" enctype="multipart/form-data"> 
    <input type="file" name="upload_file">
    <button>submit</button>
</form> -->